@using MvcCv.Models.Entity
@model List<TblEducation>
    <div class="resume-section-content">
        <h2 class="mb-5">EĞİTİM HAYATIM</h2>
        @foreach (var x in Model)
        {<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@x.Title</h3>
                    <div class="subheading mb-3">@x.Subtitle1</div>
                    <div>@x.Subtitle2</div>
                    <p>GNO: @x.GPA</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@x.Date</span></div>
            </div>
        }
    </div>
