@using MvcCv.Models.Entity;
@model List<TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">

                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    @foreach (var item in Model)
                                    {
                                        <div class="time-label">
                                            <span class="bg-info">
                                                @(((DateTime)item.Date).ToString("dd-MMM-yyyy"))
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> @item.Mail</span>
                                                <h3 class="timeline-header"><a href="#">@item.Name</a> @item.Topic</h3>
                                                <div class="timeline-body">
                                                    @item.Message
                                                </div>
                                            </div>
                                        </div>}
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</body>
</html>